!!!html
%html
  %head
    %meta{ charset: "utf-8" }
    / Always force latest IE rendering engine or request Chrome Frame
    %meta{ content: "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible" }
    %meta{ name: "description", content: "Elixir Sips is a subscription screencast series to help you learn the Elixir Programming Language." }

    / Use title if it's in the page YAML frontmatter
    %title= current_page.data.title || "Elixir Sips"
    = stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,400,900'
    = stylesheet_link_tag "all"
    = partial "google_analytics"

  %body{ class: page_classes }
    .row
      .large-12.columns
        %header
          %h1 elixir sips
          %h2 Learn Elixir With a Pro

        %nav
          = link_to "Home", "/index.html", class: nav_active_class("index")
          = link_to "Blog", "http://blog.elixirsips.com"
          = link_to "Episodes", "/episodes.html", class: nav_active_class("episodes")
          = link_to "About", "/about.html", class: nav_active_class("about")
          = link_to "Log In", "https://elixirsips.dpdcart.com"
          = link_to "Subscribe", "https://www.dailydrip.com/pages/pricing", class: 'subscribe'
    .row
      .large-9.columns.large-centered
        .container= yield
    .row
      .large-12.columns
        %footer
          %p
            Follow us on Twitter for updates:
            = link_to "@elixirsips", "http://www.twitter.com/elixirsips"
          %p
            You can also find me on Google+:
            = link_to "+Josh Adams", "https://plus.google.com/+JoshAdams"

    = javascript_include_tag  "all", async: true
