---
title: Episodes | Elixir Sips
---

%p
  Below, you'll find the list of episodes so far. #{link_to "A few are available to watch without a subscription.", "/free_episodes.html"}  For the rest, just sign up below.

= partial 'partials/subscribe_button'

.episodes-list
  - episodes.each do |episode|

    .episode-list-item{itemprop: "video", itemscope: true, itemtype: "http://schema.org/VideoObject"}
      %meta{itemprop: "thumbnail", content: url("images/#{episode.cover_image_url}")}
      %meta{itemprop: "description", content: episode.synopsis}
      %meta{itemprop: "duration", content: schema_duration(episode.length)}
      %meta{itemprop: "name", content: episode.title}
      %a{ href: episode.url }
        %h5= episode.title_with_subscriber_tag
        .episode-list-item-screenshot
          = image_tag(episode.small_cover_image_url, class: "cover-image", width: 300, height: 169)
          - if episode.free?
            = image_tag('play_small.png', class: 'play')
        %p= episode.synopsis
