---
title: Elixir Sips | Learn Elixir With a Pro
---
.intro
  .author_info
    = image_tag 'about_josh_adams.png'
    .byline
      by
      %strong.author= link_to "Josh Adams", "https://plus.google.com/+JoshAdams"

  .intro_text
    %h3 You're interested in learning Elixir, but you don't really know where to start.
    %p
      I've got quite the deal for you - join me as I learn Elixir.  I'll post a couple of short screencasts each week in which I go through a single concept in Elixir on my way to learning it.
      %strong Presently more than #{hours_and_minutes(total_time)} of video,
      and more coming every week!

.intro_episodes
  .latest_episode{itemprop: "video", itemscope: true, itemtype: "http://schema.org/VideoObject"}
    %meta{itemprop: "thumbnail", content: url("images/#{latest_episode.cover_image_url}")}
    %meta{itemprop: "description", content: latest_episode.synopsis}
    %meta{itemprop: "duration", content: schema_duration(latest_episode.length)}
    %meta{itemprop: "name", content: latest_episode.title}
    %h3 Latest Episode
    = link_to image_tag(latest_episode.cover_image_url), latest_episode.url
    %p= link_to latest_episode.title_with_subscriber_tag, latest_episode.url
    %p Length: #{hours_and_minutes(latest_episode.length)}


  .example_episode
    %h3 Watch an example episode
    .flex-video
      <iframe src="http://fast.wistia.net/embed/iframe/iigwml070y" allowtransparency="true" frameborder="0" scrolling="no" class="wistia_embed" name="wistia_embed" allowfullscreen mozallowfullscreen webkitallowfullscreen oallowfullscreen msallowfullscreen width="640" height="360"></iframe>
    %p Watch Episode 024, in which we introduce the Ecto persistence library and persist Records into Postgres!

%p This is just a sample, there's lots more where that came from...and more coming every week!

= partial 'partials/subscribe_button'
