.episode{itemprop: "video", itemscope: true, itemtype: "http://schema.org/VideoObject"}
  %h3
    %span{itemprop: "name"}= episode.title
  %p.byline by #{link_to "Josh Adams", "https://plus.google.com/+JoshAdams"}

  .flex-video
    <iframe src="#{video_url}" allowtransparency="true" frameborder="0" scrolling="no" class="wistia_embed" name="wistia_embed" width="640" height="360"></iframe>

  %p
    %span{itemprop: "description"}= episode.synopsis
  %h4
    Length:
    %meta{itemprop: "duration", content: schema_duration(episode.length)}
      #{hours_and_minutes(episode.length)}

  = partial 'partials/subscribe_button'

  %p.note NOTE: The embedded videos have been scaled down for embedding online.  Subscribers have access to full-size, high-definition videos.
