.episode{itemprop: "video", itemscope: true, itemtype: "http://schema.org/VideoObject"}
  %meta{itemprop: "thumbnailUrl", content: url("images/#{episode.cover_image_url}")}
  %h3
    %span{itemprop: "name"}= episode.title_with_subscriber_tag
  %p.byline by #{link_to "Josh Adams", "https://plus.google.com/+JoshAdams"}

  = image_tag episode.cover_image_url

  %p
    %span{itemprop: "description"}= episode.synopsis

  %h4
    Length:
    %meta{itemprop: "duration", content: schema_duration(episode.length)}
      #{hours_and_minutes(episode.length)}

  - if episode.paid?
    %p.note
      NOTE: This video is only available to subscribers.

  = partial 'partials/subscribe_button'
